<form name="dvirDefectsForm">
    <div layout-padding>
        <!--<defect-list ng-model="dvirDefects.defects"></defect-list>-->
        <md-list class="md-dense">
            <div ng-if="!defects.length" style="color: rgba(183, 177, 177, 0.87);" layout-align="center" layout="row"><span class="fa fa-wrench"></span>&nbsp;No Defects Found</div>
            <md-list-item class="md-2-line" ng-repeat="defect in defects" style="min-height: 45px;">
                <div class="md-list-item-text" layout="column">
                    <h3 ng-bind="defect.name"></h3>
                    <p ng-bind="defect.note"></p>
                </div>
            </md-list-item>
        </md-list>
        <!--<md-button md-no-ink class="md-primary" ng-click="openDefectSelect = !openDefectSelect"><span class="fa fa-plus"></span> Add/Remove Vehicle Defects</md-button>-->
        <md-button md-no-ink class="md-primary" ng-click="setDefects($event)"><span class="fa fa-plus"></span> Add/Remove Vehicle Defects</md-button>

        <!--<md-list class="md-dense" ng-show="openDefectSelect">-->
            <!--<div ng-if="!defects.length" style="color: rgba(183, 177, 177, 0.87);" layout-align="center" layout="row"><span class="fa fa-wrench"></span>&nbsp;No Defects Found</div>-->
            <!--<md-list-item ng-repeat="availDefect in availableDefects">-->
                <!--<h3 ng-bind="availDefect.name"></h3>-->
                <!--<p ng-bind="defect.comment"></p>-->
            <!--</md-list-item>-->
        <!--</md-list>-->
    </div>
</form>