<div layout="column" flex>
    <head-toolbar>
        <md-button ng-click="changeStatus()">Change Status</md-button>
    </head-toolbar>
    <md-content>
        <md-list ng-if="daysList.length > 0">
            <md-list-item ng-repeat="tl in dayLog.travelLog" ng-click="selectDate(day)">
                <div class="md-list-item-text">
                    <h3>{{tl.start | date: 'fullDate'}}</h3>
                    <p>{{ getTimeSpan(tl) }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>