<div layout="column" flex>
    <head-toolbar>
        <md-button ng-click="changeStatus()">Change Status</md-button>
    </head-toolbar>
    <md-content>
        <md-list>
            <md-list-item ng-repeat="tl in dayLog.travelLog" ng-click="selectDate(tl)">
                <div class="md-list-item-text">
                    <h3>{{tl.start | date: 'mediumTime'}}</h3>
                    <p>{{ getTimeSpan(tl) }}</p>
                </div>
                <span flex></span>
                <md-badge>{{tl.status}}</md-badge>
            </md-list-item>
        </md-list>
    </md-content>
</div>