<div layout="column" flex>
    <head-toolbar>
        <md-button ng-click="add()">Add Document</md-button>
    </head-toolbar>
    <md-content>
        <md-list>
            <md-list-item ng-repeat="doc in documents">
                <div>
                    <file-display ng-model="doc.file" ng-disabled="true"></file-display>
                </div>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ doc.title }}</h3>
                    <h4>{{ doc.desc }}</h4>
                    <p>{{ doc.createdAt | date: 'medium' }}</p>
                    <md-button ng-click="edit($event, doc)">Edit</md-button>
                    <md-button ng-click="remove($event, doc)">Delete</md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>