<form name="companyForm" layout="column">
    <div>
        <label> Company ID </label>
        <br />
        <p ng-bind="company._id"></p>
    </div>
    <md-input-container>
        <label> Name </label>
        <input type="text" ng-model="company.name" name="name" aria-label="name" required />
        <error-messages ng-model="companyForm.name"></error-messages>
    </md-input-container>
    <!--<md-input-container>-->
        <!--<label> Address </label>-->
        <!--<address-select ng-model="company.addr"></address-select>-->
    <!--</md-input-container>-->
    <!--<md-button class="md-raised md-primary" ng-disabled="adminCompanyForm.$pristine" ng-click="update()">Update</md-button>-->
</form>