<md-input-container style="margin-right: 10px;">
    <md-input-container class="md-block">
        <label>First Name</label>
        <input ng-model="user.profile.fname">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Last Name</label>
        <input ng-model="user.profile.lname">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Mobile</label>
        <input ng-model="user.profile.phone">
    </md-input-container>
</md-input-container>