<div layout="column" layout-fill>
    <head-toolbar>
    </head-toolbar>
    <md-content layout-fill>
        <md-tabs md-dynamic-height md-stretch-tabs md-center-tabs md-selected="selectedTab" md-align-tabs="top" layout="column" flex>
            <md-tab label="Log" layout="column" flex layout-fill>
                <md-tab-body layout="column" flex>
                    <!--<md-content layout="column" flex>-->
                        <logs ng-model="dayLog" date="date" layout-fill></logs>
                    <!--</md-content>-->
                </md-tab-body>
            </md-tab>
            <md-tab label="Form">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Form</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
            <md-tab label="Sign">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Sign</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
            <md-tab label="DVIR" layout-fill>
                <dvirs date="date" layout-fill></dvirs>
            </md-tab>
        </md-tabs>
    </md-content>
</div>