<div layout="column" layout-fill>
    <head-toolbar>
    </head-toolbar>
    <md-content layout="column" flex>
        <md-tabs md-border-bottom md-center-tabs="true" md-stretch-tabs="true" layout="column" layout-fill>
            <md-tab label="Log" layout="column" flex>
                <md-tab-content layout="column" flex>
                    <logs ng-model="dayLog" date="date" layout="column" flex></logs>
                </md-tab-content>
            </md-tab>
            <!--<md-tab label="Form">-->
                <!--<md-content class="md-padding">-->
                <!--</md-content>-->
            <!--</md-tab>-->
            <md-tab label="Sign">
                <md-tab-content layout="column" flex layout-align="start center">
                    <p>I certify these entries are true and correct</p>
                    <signature ng-model="dayLog.signature" name="driver" type="log" on-change="signatureChanged(signature)"></signature>
                </md-tab-content>
            </md-tab>
            <md-tab label="DVIR" layout="column" flex>
                <md-tab-content layout="column" flex>
                    <dvirs date="date" layout="column" flex></dvirs>
                </md-tab-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>